.btn {
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  outline: none;
  background-color: rgb(162, 201, 104);
}

.buttonOk {
  text-decoration: none;
  color: black;
}
.buttonOk:hover {
  color: green;
}

.btn-tienda {
  border-radius: 10px;
  text-decoration: none;
  background-color: #34db7f;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
}
.btn-tienda:hover {
  border-radius: 5px;
  color: #114808;
}

.piepag {
  background-color: #558a5a;
}
.piepag .footer {
  font-size: 20px;
  text-align: right;
  margin: auto;
  display: flex;
  list-style: none;
  font-weight: bold;
}
.piepag .footer .Copyright {
  color: black;
  padding: 0.5%;
  font-weight: bold;
}

.miNavbar {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 16px;
  background-color: #558a5a;
}
.miNavbar .barra-nav {
  padding-left: 35%;
}
.miNavbar .Barra-nav li {
  margin-right: 0.5cm;
}
.miNavbar .Barra-nav a:visited {
  color: aliceblue;
  text-decoration: none;
}

.navbar-nav .nav-link {
  font-weight: bold;
  color: #0d0c0c;
}
.navbar-nav .nav-link .navbar-brand {
  color: #000000;
}

.navbar-brand {
  color: #000000;
}

.slogan {
  font-size: 50px;
}

@media only screen and (max-width: 768px) {
  .miNavbar {
    background-color: #174a28;
  }
  .navbar-nav {
    text-align: center;
    margin-top: 10px;
  }
}
* {
  margin: 2px;
  padding: 2px;
  box-sizing: border-box;
}

body {
  background-color: #558a5a;
}

.header {
  background-color: var(--color-fondo);
  font-size: 20px;
  text-decoration: none;
  color: beige;
}

.tituloshtmls {
  text-align: center;
  font-size: 35px;
  background-color: rgb(162, 201, 104);
  font-family: "Young Serif", serif;
  color: rgb(9, 9, 8);
  font-weight: bolder;
}

.subtituloshtmls {
  color: rgb(9, 9, 8);
  background-color: rgb(162, 201, 104);
  text-align: center;
  font-family: "Comic Neue", cursive;
}

.Fondo-imagen-titulo-texto {
  background-color: rgb(162, 201, 104);
}

.titulo-planta {
  color: black;
  background-color: var(--color-fondo);
  text-align: center;
  padding: 1rem;
}
@media only screen and (max-width: 768px) {
  .titulo-planta .titulo-planta, .titulo-planta .media-foto-interiores {
    text-align: center;
  }
}

.textos {
  font-size: 40px;
}

.media-foto-index {
  height: 300px;
  width: 200px;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}
.media-foto-index .media-foto-interiores {
  margin: 10px;
  box-sizing: border-box;
  min-height: auto;
}
@media only screen and (max-width: 768px) {
  .media-foto-index .media-foto-interiores img {
    width: 100%;
  }
}

.fondo-pantalla {
  background-color: #558a5a;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact-fond {
  background-image: url(../img/variedadplantasfondo.avif);
  background-size: 100% auto;
}

.fondo-tienda {
  background-image: url(../img/fondo-tienda2.avif);
}

.media-foto-exteriores {
  margin: 10px;
  box-sizing: border-box;
  min-height: auto;
}

.mi-carrusel {
  position: relative;
  float: right;
  margin-right: auto;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}
.mi-carrusel .mi-carrusel img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}

.caja-padre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .caja-padre {
    flex-direction: column;
    text-align: center;
  }
  .media-foto-interiores img {
    margin-bottom: 10px;
  }
}
.ficha-tecnica {
  font-size: 18px;
  max-width: 80%;
  margin: 10px;
  box-sizing: border-box;
  color: rgb(5, 4, 3);
  font-family: "Comic Neue", cursive;
}
.ficha-tecnica .accordion-body {
  background-color: rgb(162, 201, 104);
  box-shadow: 0 4px 8px 0 rgba(192, 16, 16, 0.2);
  padding: 15px;
}
@media only screen and (max-width: 468px) {
  .ficha-tecnica .ficha-tecnica {
    display: block;
    width: 97%;
  }
}

@media only screen and (max-width: 468px) {
  .parrafo {
    display: block;
  }
}

.formulario-de-contacto {
  color: black;
  background-color: var(--color-TextoFooter);
  padding: 35px;
  text-align: center;
  font-size: 30px;
  background-image: url(../img/fondcon.jpg);
}

.config-tienda {
  padding: 30px;
  border: 2rem;
  background-image: url(../img/fondo-tienda2.avif);
  display: flex;
  flex-wrap: wrap;
}

.mitarjeta {
  flex: 0 0 calc(50% - 1rem);
  margin: 0.5rem;
}

/* Estilos generales */

/*# sourceMappingURL=styles.css.map */
