@import 'partials/buttons';
@import 'partials/footer';
@import 'partials/navbar';


:root {
    $color-TextoFooter: #afebadf8;
    $color-TextoExplicativo: #b8b8c8;
    $color-fondo: #558a5a;
    $color-Titulo: #0f1011;
    $color-footer:rgb(19, 22, 22);
    $color-header:rgb(35, 119, 175);
    $color-texto:rgb(19, 20, 20);

}
*{
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

body{
    background-color: #558a5a;
}
.header{
    background-color: var(--color-fondo);
    font-size: 20px;
    text-decoration: none;
    color: beige;
}

.tituloshtmls{
    text-align: center;
    font-size: 35px;
    background-color: rgb(162, 201, 104);
    font-family: 'Young Serif', serif;
    color: rgb(9, 9, 8);
    font-weight: bolder;
}
.subtituloshtmls{
    color: rgb(9, 9, 8);
    background-color: rgb(162, 201, 104);
     text-align: center;
    font-family: 'Comic Neue', cursive;


}
.Fondo-imagen-titulo-texto{
    background-color: rgb(162, 201, 104);
}

.titulo-planta{
    color: black;
    background-color: var(--color-fondo);
    text-align: center;
    padding: 1rem;
 
}


.textos{
    font-size: 40px ;
 }

 .media-foto-index{
    height: 300px;
    width: 200px;
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;

    .media-foto-interiores{
        margin: 10px;
        box-sizing: border-box;
        min-height: auto;
    }
}

.fondo-pantalla{
    background-color: #558a5a;
   
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}

   


.contact-fond{
    background-image: url(../img/variedadplantasfondo.avif);
     background-size: 100% auto
   
}

.fondo-tienda{
    background-image: url(../img/fondo-tienda2.avif);
}
.media-foto-exteriores{
   
   
    margin: 10px;
    box-sizing: border-box;
    min-height: auto;
 
}

.mi-carrusel{
    position: relative;
    float: right;
    margin-right: auto;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;

    .mi-carrusel img{
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
       
     }
 }

 .caja-padre{
    display: flex;
    align-items: start;
    .caja-padre-tienda{
        display: flex;
        align-items: center;
        justify-content: center;
    }

}

.ficha-tecnica{
    font-size: 18px;
    max-width: 80%;
    margin: 10px;
    box-sizing: border-box;
    color: rgb(5, 4, 3);
    
    font-family: 'Comic Neue', cursive;
    .accordion-body {
        background-color: rgb(162, 201, 104);
        box-shadow: 0 4px 8px 0 rgba(192, 16, 16, 0.2);
        padding: 15px;
    }
}


 



 .formulario-de-contacto{
    color: black;
    background-color: var(--color-TextoFooter);
    padding: 35px;
    text-align: center;
    font-size: 30px;
    background-image: url(../img/fondcon.jpg);


 }

 .config-tienda{
    padding: 30px;
    border: 2rem;
    background-image: url(../img/fondo-tienda2.avif);
    display: flex;
    flex-wrap: wrap;
 }
 .mitarjeta{
    flex: 0 0 calc(50% - 1rem); 
  margin: 0.5rem;
}
 
 