.piepag{

    background-color:#558a5a;
    .footer{
        font-size: 20px;
        text-align: right;
        margin: auto;
        display: flex;
        list-style: none;
        font-weight: bold;
    
        .Copyright{
            color: black;
            padding:0.5%;
            font-weight: bold;
            
        }
    
     }
}